<a href="https://colab.research.google.com/github/dheeraj0000/2216177_AIML_Bootcamp_2023-day2/blob/main/Day2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a=3
b=2
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)
print(a**b)
print(a//b)

5
1
6
1.5
1
9
1

In [ ]:
#comparsion operateor
a>=b
a==b
a<=b
a<<b
a>>b
a!=b

True

In [ ]:
#assignment operator
a=10
b=5
c=a+b
c-=a

In [ ]:
#logical operator
x=True
y=False
print('x and y is:',x and y)
print('x or y is:',x or y)
print('x not y is:',not y)

x and y is: False
x or y is: True
x not y is: True

In [ ]:
#Bitwise operator
a=13
b=14
print(a&b)
print(a|b)
print(~a)
print(a^b)
print(a>>2)
print(a<<2)

12
15
-14
3
3
52

In [ ]:
#membership operator
x='hello world'
print('w' in x)

True

In [ ]:
#identity operator
x1=5
y1=5
x2='hello'
y2="hello"
x3=[1,2,3]
y3=[1,2,3]
print(x1 is not y1)
print(x2 is  y2)
print(x3 is y3)

False
True
False

In [ ]:
a=int(input("enter the number"))
print(a)
b=input("enter the string")
print(b)

enter the number2
2
enter the stringhello
hello

In [ ]:
#string
str="dheeraj"
#indexing
print(str[0])
print(str[-1])
print(str[0:5])
print(str[0:5:2])
#reverse a string
print(str[::-1])
#string methods
my_str="I am teaching python"
print(my_str.upper())
print(my_str.lower())
print(my_str.swapcase())
print(my_str.lstrip())
#string operations
str1="hello"
str2="world"
print(str1+str2)
print(str1+str1)

d
j
dheer
der
jareehd
I AM TEACHING PYTHON
i am teaching python
i AM TEACHING PYTHON
I am teaching python
helloworld
hellohello

In [ ]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [ ]:
#string formats
name="dheeraj"
Language="python"
year=2023
print(name,"is teaching",Language,"programming in",year)
#format
print("{} is teaching {} programming in {}".format(name,Language,year))
#placeholder
print("%s is teaching %s programming in %d"%(name,Language,year))
#rawstring 'f'
print(f"{name} is teaching {Language} programming in {year}")

dheeraj is teaching python programming in 2023
dheeraj is teaching python programming in 2023
dheeraj is teaching python programming in 2023
dheeraj is teaching python programming in 2023

In [ ]:
#Lists
my_list=[1,2,3,4]
my_list1=[1,'hello','3.0']
my_list2=['apple','banana','cherry',]

#indexing
print(my_list[2])
print(my_list1[-1])
print(my_list[:3])
#nested list
N_list=["dargonfruit","hi",my_list,my_list[1]]
#list methods
my_list.append(5)
print(my_list)
l1=[3,6,9,12,34,4,5,6,9]
print(l1.count(4))
print(len(l1))
print(l1[::-1])
l1.reverse()
print(l1)
l1.sort()
print(l1)

3
3.0
[1, 2, 3]
[1, 2, 3, 4, 5]
1
9
[9, 6, 5, 4, 34, 12, 9, 6, 3]
[9, 6, 5, 4, 34, 12, 9, 6, 3]
[3, 4, 5, 6, 6, 9, 9, 12, 34]